@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

/* Light mode text selection color */
::selection {
  background: #b7b7c2;
}

/* Dark mode text selection color */
html.dark ::selection {
  background: #59595e;
}

::-webkit-scrollbar {
  width: 12px;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: #dedede;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #c4c4c4;
}

html.dark ::-webkit-scrollbar-track {
  background: #10153e;
}
html.dark ::-webkit-scrollbar-thumb {
  background: #030620;
  border-radius: 20px;
}
html.dark ::-webkit-scrollbar-thumb:hover {
  background: #0b0f2f;
}

.section {
  padding: 5vh 3vw 5vh 3vw;
}

.transition-custom{
  transition-property: opacity, transform;
  color: #030620;
}