@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

p, h1, h2, h3, h4, h5, h6 {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

::-webkit-scrollbar {
  width: 0px;
}

.section {
  padding: 10vh 3vw 0 3vw;
}

.bg-button-gradient {
  background-image: linear-gradient(90deg, #8f92a4 3.4%, #59595e 100%);
}

.button-hover:hover {
  background-image: none;
  background-color: #59595e;
  cursor:pointer;
}

.bg-button-gradient-dark {
  background-image: linear-gradient(90deg, #161A31 3.4%, #06091F 100%);
}

.button-hover-dark:hover {
  background-image: none;
  background-color: #06091F;
  cursor:pointer;
}